/* Add stylings to NameSearch component */

input,
button {
  display: block;
  margin: 0.5em auto;
}

input {
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid gray;
  width: 200px;
  font-size: 16px;
}

input:focus {
  border-bottom: 1px solid rgb(85, 85, 85);
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: tomato;
  border: none;
  transition: background-color 150ms ease-in;
}

button:hover {
  background-color: rgb(255, 77, 45);
}
